<ul class="nav nav-pills flex-column">
    <li class="nav-item px-3">
        <NavLink href="/projects" class="nav-link" Active="active">Projects</NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink href="/trainers" class="nav-link" Active="active">Trainers</NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink href="/studiematerialen" class="nav-link" Active="active">Studie Materialen</NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink href="/education" class="nav-link" Active="active">Education</NavLink>
    </li>
</ul>






