@page "/education"

<h1>Education</h1>

<h2>Bachelor</h2>
<p>Anadolu University/ English Language Teaching.</p>
<hr />
My bachelor's degree provided me with a solid foundation in my field of study.
I gained knowledge in teaching and developed valuable skills through coursework and projects.

<h2>Master</h2>
<p>Hogeschool Utrecht/ Master English Education .</p>
<hr />
During my master's program, I specialized in Teaching English.
and conducted research on writing skills of high school students. This experience helped me deepen my expertise.
