@page "/projects"

<h1>Projects</h1>
<p> You can find my Youtube channel here</p>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Gömme</title>
</head>
<body>
    <iframe width="500"
            height="281"
            src="https://www.youtube.com/embed/QRhB2mt4LI4"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
</body>
</html>

<h2>Counter</h2>


<h2>TODO List</h2>


