@page "/studiematerialen"

<h1>Studie Materialen</h1>

<h2>Studie Plan</h2>
<p>Mondag: C#
Tuesday: CSS
Wednesday: Blazor
Thursday: Blazor
Friday: C#
</p>

<h2>Programeren</h2>
<p>CSS
   Python
   C#
   Blazor
</p>
